.box {
    width: 10rem;
    height: 10rem;
    background-color: blue;
}

.intro-js {
    background-color: blue;
    color: white;
    padding: 2rem 1rem;
    font-size: 3rem;
}

#create-text {
    color: blue;
    font-weight: 800;
    font-size: 3rem;
}

#display-count {
    font-size: 5rem;
    font-weight: 800;
}